body {
  margin: 0;
  padding: 0;
  font-family: 'Hubballi', 'cursive'; 
  background-color: #f2f3f4;

}


/* ABOUT PAGE */

.about-heading {
  font-family: 'Inter', sans-serif;
  display: flex;
  margin-top: 7.5px;
  margin-bottom: 5px;
  margin-right: 25%;
  float: right;
  font-size: large;
  justify-content: space-evenly;
  text-shadow: 0px 11px 10px rgb(187, 168, 184);
  text-decoration: underline;
  color: #271812;
}

.main-info {
  margin-top: 135px;
  margin-left: 16px;
  margin-right: 2%;
  letter-spacing: .02em;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  text-align: justify;
  word-spacing: .05em;
  white-space: inherit;
  background-color: #f2f3f4;

}

.bottom-info {
  margin-top: 100px;
  margin-left: 16px;
  margin-right: 16px;
  letter-spacing: .02em;
  font-family: 'Raleway', sans-serif;
  font-style: oblique;
  font-size: 1em;
  text-align: left;
  white-space: normal;
  background-color: #f2f3f4;
 
}

.video {
  margin-top: 5%;
  margin-right: 2%;
  margin-bottom: 25px;
  border: 2px solid #355070;

}

.color-brain {
  float: left;
  height: 34%;
  width: 34%;
  margin-left: 16px;
  margin-top: 25px;
  margin-right: 16px;
  border: 2px dotted #8e3a59;
}

/* -------------------------------- */
/* ILLNESS PAGE */
.top-heading {
  font-family: 'Inter', sans-serif;
  display: flex;
  margin-top: 7.5px;
  margin-bottom: 16px;
  font-size: large;
  justify-content: space-evenly;
  text-shadow: 0px 11px 10px rgb(187, 168, 184);
  text-decoration: underline;
  color: #271812;
}

.wide-image {
  height: 50%;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 7%;
  border: 4px dotted #355070;
  
}

.conditions {
  font-family: 'Raleway', sans-serif;
  font-size: -16px;
  letter-spacing: 0px;
  word-spacing: 1px;
  padding: 0px;
  margin-bottom: 16px;
  text-align: left;
}

.bottom-header {
  float: left;
  letter-spacing: .05em;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  text-align: left;
  margin-right: 1%;
  margin-left: 1%;
  white-space: normal;
  background-color: #f2f3f4;
  border: 3px double rgb(15, 77, 146);
  padding-left: 6px;
  padding-right: 2px;
  margin-bottom: 10px;
}


.bottom-image {
  margin-top: 4%;
  margin-bottom: 5%;
  margin-right: 1%;
  border: 2px solid #367588;
}


h3 {
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 11px 10px rgba(15, 76, 146, 0.678);
  font-size: 1.3em;
  margin-left: 20%;
}


li {
  list-style: none;
}

a {
  color: #355070;
  text-decoration-style: none;
  font-size: 1.2em;
  word-spacing: 1px;
  text-justify:newspaper;
}

/* ------------------------- */
/* MAIN/INDEX PAGE */
.header-wrapper {
  margin: 0 0 0 0;
  height: 70px;
  background: url(assets/plant-cover.png);
  background-size: cover;
  padding: 110px 110px;
  position: sticky;
  position: -webkit-sticky;
}

.logo {
   border-radius: 100px;
   position: absolute;
   left: 890px; 
   top: 16px;
   width: 145px;
   height: auto;
   margin: 0;
   border: 1px solid #50372d;
}


.link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-link {
  width: 170px;
  height: 185px;
  font-size: 1.2em;
  font-family: 'Hubballi', 'cursive';
  color: #50372d;
  text-decoration: none;
  letter-spacing: 1.5px;
  position: sticky;
  position: -webkit-sticky;
  text-shadow: 0px 11px 10px #b6a3b5;
  margin-top: 16px
}

.nav-link:hover {
  color: #fff;
  letter-spacing: 2.5px;
}


.titletext {
  position: absolute;
  font-size: 2.2em;
  font-family: 'Tangerine','serif';
  word-spacing: .5em;
  text-decoration: underline .5px;
  text-shadow: 0px 11px 10px #bba8b8;
  color: rgb(80, 55, 45);
  top: 8px;
  right: -45%;
  top: -6%;
}


.quote {
  float: right;
  font-size: 170%;
  font-family: 'Hubballi','cursive';
  text-shadow: 0px 11px 10px rgba(80, 55, 45, 0.315);
  margin-top: 30px;
  white-space: nowrap;
  text-align: left;
  word-spacing: normal;
  margin-right: 12px;
  color: #50372d;

}

.container {
  height: 405px;
  width: 400px;
  position: relative;
  margin-bottom: 16%;
  margin-top: 2%;
}

.container-image {
  position: absolute;
  height: 120%;
  border: 6px double #355070;
  margin-left: 20%;
}

.flower-image {
  float: right;
  position: relative;
  margin-top: 16px;
  border: 2.2px dotted #b38b6d;
}

.footer {
  padding: 15px;
  width: 98.8vw;
  height: 100%;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #f8f4ff;
  border-top: 2px solid #b39eb5;
}

.nami-logo {
  padding-left: 0;
  
}



/* ------------------------------ */
/* RESOURCES PAGE */
.smiling-women {
  height: 45%;
  width: 40%;
  margin-right: 26px;
  margin-left: 12px;
  margin-top: 16px;
  margin-bottom: 9%;
  image-rendering: crisp-edges;
  border: 2px dashed #e2725b;
}


.resources {
  margin-top: 30px;
  margin-left: 4%;
  margin-right: 4.2%;
  margin-bottom: 16%;
  letter-spacing: .02em;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: justify;
  word-spacing: .05em;
  white-space: inherit;
  background-color: #f2f3f4;
}


.text-quote {
  font-family: 'Hubballi', 'cursive';
  font-size: 2em;
  color: #cc6666;
  white-space: pre-wrap;
  text-align: center;
  justify-content: center;
  text-shadow: 1px 1px 1px rgba(122, 60, 35, 0.705);;
  margin-top: -100px;
  margin-bottom: 2%;
}

.final-image {
  height: 50%;
  width: 50%;
  margin-bottom: 5%;
  justify-content: center;
  margin-left: 25%;
  margin-top: -20px;
  border: 3px solid #355070;

}


/* -------------------------------- */
/* SUICIDE PAGE */



.imagequote {
  height: 50%;
  width: 50%;
  margin-bottom: 26px;
  margin-right: 28px;
  border: 3px solid #F4A460;
  word-spacing: 1px;
}


.synopsys {
  font-family: 'Raleway', sans-serif;
  font-size: 118%;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-align: center;
  margin-bottom: 16px;
  margin-top: -16px;
}