body {
  margin: 0;
  font-family: 'Hubballi', 'cursive'; 
  background-color: #f8f8ff;
}

/* MAIN PAGE */
.header-wrapper {
  height: 70px;
  background: url(assets/plant-cover.png) no-repeat;
  background-size: cover;
  color: #fff;  
  padding: 110px 110px;
  position: sticky;
  position: -webkit-sticky;
}

.logo {
   border-radius: 100px;
   position: absolute;
   left:1025px; 
   top:20px;
   width: 150px;
   height: auto;
}


.link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-link {
  width: 185px;
  height: 185px;
  font-size: 1.2em;
  font-family: 'Hubballi', 'cursive';
  color: #fff;
  text-decoration: none;
  letter-spacing: 1.5px;
  position: sticky;
  position: -webkit-sticky;
  text-shadow: 0px 11px 10px rgb(187, 168, 184);
  margin-top: 16px;
}

.nav-link:hover {
  color: #fff;
  letter-spacing: 2.5px;
}


.title {
  position: absolute;
  left: 450px;
  padding: 10px;
  font-size: 5.5em;
  font-family: 'Tangerine', 'serif';
  text-decoration: underline .5px;
  text-shadow: 0px 11px 10px rgb(187, 168, 184);
}


.text-1 {
  position: absolute;
  left: 475px;
  margin-top: 250px;
  padding: 15px;
  font-size: 1.5em;
  font-style: bold;
  text-align: center;
}

.corner-image {
  display: flex;
  justify-content: stretch;
  height: 420px;
  width: 420px;
  margin-top: 500px;
  padding-bottom: 10px;
}

.searchbar {
  margin-left: 15%;
  padding:15px;
  border-radius: 10px;
}

.input[type=text] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}



/* ILLNESS PAGE */
.top-heading {
  font-family: 'Inter', sans-serif;
  display: flex;
  margin-top: 7.5px;
  margin-bottom: 16px;
  font-size: large;
  justify-content: space-evenly;
  text-shadow: 0px 11px 10px rgb(187, 168, 184);
  text-decoration: underline;
}

.image-man {
  height: 50%;
  width: 50%;
  padding-left: 16px;
  margin-right: 26px;
  image-rendering: crisp-edges;
  position: sticky;
  position: -webkit-sticky;
  
}

.list {
  margin-left: 16px;
}

/* RESOURCES PAGE */
.smiling-women {
  height: 50%;
  width: 50%;
  padding-left: 16px;
  margin-right: 26px;
  image-rendering: crisp-edges;
  position: sticky;
  position: -webkit-sticky;
}


/* SUICIDE PAGE */
.yellow-ribbon {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  position: -webkit-sticky;
  padding-right: 18px;
}

.information {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 475px;
  font-size: 1.3em;
  text-align: left;
  top: 375px;
  padding-left: 18px;
}


.bottom-heading {
  display: flex;
  justify-content: flex-end;
}

/* ABOUT PAGE */
.students {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding-right: 25px;
}

