body {
  margin: 0;
  padding: 0;
  font-family: 'Hubballi', 'cursive'; 
  background-color: #fff;

}


/* ABOUT PAGE */
.students {
  margin-right: 10px;
  margin-bottom: 50%;

}


.statistics {
  font-family: 'Raleway', sans-serif;
  font-size: -16px;
  letter-spacing: 0px;
  word-spacing: 1px;
  padding: 0px;
  margin-bottom: 2px;
  text-align: left;
  margin-left: 16px;
  margin-right: 10px;
}


/* -------------------------------- */
/* ILLNESS PAGE */
.top-heading {
  font-family: 'Inter', sans-serif;
  display: flex;
  margin-top: 7.5px;
  margin-bottom: 16px;
  font-size: large;
  justify-content: space-evenly;
  text-shadow: 0px 11px 10px rgb(187, 168, 184);
  text-decoration: underline;
  color: #271812;
}

.wide-image {
  height: 50%;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 25%;
  border: 4px dotted #355070;
  
}

.conditions {
  font-family: 'Raleway', sans-serif;
  font-size: -16px;
  letter-spacing: 0px;
  word-spacing: 1px;
  padding: 0px;
  margin-bottom: 2px;
  text-align: left;
}

li {
  list-style: none;
}

a {
  color: #355070;
  text-decoration-style: none;
  font-size: 1.2em;
  word-spacing: 1px;
  text-justify:newspaper;
}

/* ------------------------- */
/* MAIN/INDEX PAGE */
.header-wrapper {
  margin: 0 0 0 0;
  height: 70px;
  background: url(assets/plant-cover.png);
  background-size: cover;
  padding: 110px 110px;
  position: sticky;
  position: -webkit-sticky;
  border-bottom: 2px solid white;
}

.logo {
   border-radius: 100px;
   position: absolute;
   left: 890px; 
   top: 16px;
   width: 145px;
   height: auto;
   margin: 0;
   border: 1px solid #50372d;
}


.link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-link {
  width: 170px;
  height: 185px;
  font-size: 1.2em;
  font-family: 'Hubballi', 'cursive';
  color: #50372d;
  text-decoration: none;
  letter-spacing: 1.5px;
  position: sticky;
  position: -webkit-sticky;
  text-shadow: 0px 11px 10px #b6a3b5;
  margin-top: 16px
}

.nav-link:hover {
  color: #fff;
  letter-spacing: 2.5px;
}


.titletext {
  position: absolute;
  font-size: 2.2em;
  font-family: 'Tangerine','serif';
  word-spacing: .5em;
  text-decoration: underline .5px;
  text-shadow: 0px 11px 10px rgb(187, 168, 184);
  color: #50372d;
  top: 8px;
  right: -45%;
  top: -6%;
}


.quote {
  float: right;
  font-size: 150%;
  font-family: 'Hubballi','cursive';
  margin-right: 6%;
  margin-top: 30px;
  white-space: nowrap;
  text-align: center;
  word-spacing: normal;
}

.container {
  height: 405px;
  width: 400px;
  position: relative;
  margin-bottom: 16%;
  margin-top: 2%;
}

.container-image {
  position: absolute;
  height: 120%;
  border: 6px double #355070;
  margin-left: 20%;
}


.footer {
  padding: 25px;
  width: 98.8vw;
  height: 100%;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #d2c9ce6c;
  border-top: 2px solid white;
}

.nami-logo {
  padding-left: 0;
  height: auto;
}


/* ------------------------------ */
/* RESOURCES PAGE */
.smiling-women {
  height: 50%;
  width: 50%;
  padding-left: 16px;
  margin-right: 26px;
  margin-bottom: 26px;
  image-rendering: crisp-edges;
}




/* -------------------------------- */
/* SUICIDE PAGE */



.imagequote {
  height: 50%;
  width: 50%;
  margin-bottom: 26px;
  margin-right: 20px;
  border: 3px solid #F4A460;
}


.synopsys {
  font-family: 'Raleway', sans-serif;
  font-size: 118%;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-align: center;
  margin-bottom: 16px;
  margin-top: -16px;
}